@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: 'Berlin Sans FB Demi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB Demi Bold'), url('../fonts/BRLNSDB.woff') format('woff');
}


body {
    background-color: #e6e6e6;
    font-family: 'Raleway', sans-serif;
    color: #222222;
}

h1, h2, h3, h4 {
    font-family: 'Berlin Sans FB Demi Bold', sans-serif;
}
h3.primary-color {
  color: #FF993B;
}

a {
    color: #FF993B;
}

input[type="checkbox"] {
    position: relative;
    top: 4px;
}

.toTop.show {
    opacity: 0.65;
}

.toTop:hover {
    opacity: 1;
    cursor: pointer;
}

nav.fixed {
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;
}

.toTop {
    background-color: rgba(63, 63, 63, 0.7);
    border-radius: 6px;
    bottom: 3rem;
    color: #222222;
    font-size: 2.5rem;
    height: 3rem;
    position: fixed;
    right: 2.25rem;
    width: 3rem;
    opacity: 0;
    transition: all 1s linear;
}

.toTop i {
    bottom: 5px;
    left: 12px;
    position: absolute;
}

.navi-toTop:hover {
    cursor: pointer;
}

.logo {
    max-width: 90px;
    position: absolute;
    z-index: 20;
}

.event {
    height: 250px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 3px solid #FF993B;
    padding: 30px;

    position: absolute;
    top: 20%;
    right: 20%;

    color: #fafafa;

    font-family: 'Berlin Sans FB Demi Bold', sans-serif;
    font-size: 1.6rem;
}

.event p {
    padding: 0.5rem 2rem;
}

.event h1 {
    color: #FF993B;
}

.event .facebook {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
}

.top-bar,
.top-bar ul {
    background-color: white;
}

.top-bar {
    box-shadow: 0 5px 15px black;
    z-index: 9999;
}

.stage {
    height: 500px;
    background-image: url('../img/background.png');
    position: relative;
    margin-top: 50px;
}

.full.headline {
    min-height: 80px;
}

.headline h2 {
    padding: 10px 0;
    margin: 0;
}

.headline-about {
    color: #FF993B;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid black;
    top: -80px;
    position: relative;
    margin-bottom: -40px;
}

.reservation .row {
    background-color: white;
}

.headline-reservation {
    background: #FF993B;
    color: #222222;
}

.headline-facebook {
    background-color: #2A69AE;
    color: #FFFFFF;
}

.headline .columns {
    padding: 10px;
}

.headline-facebook img {
    min-width: 65px;
    min-height: 65px;

    width: 65px;
    height: 65px;
    margin: 0 10px;
}

.headline-footer {
    background-color: #e6e6e6;
    color: #222222;
}

.full.gallery {
    background-color: #fafafa;
}

footer .footer-links {
    background-color: #ffffff;
    padding: 20px 0;
}

footer .footer-links ul li {
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
}

footer .footer-links ul li:last-child {
    border-bottom: none;
}

button.button {
    font-family: 'Raleway', sans-serif;
    background-color: #FF993B;
    color: #fafafa;
    border-radius: 6px;
    font-weight: bold;
}

.button.read-more,
.button.read-less {
    float: right;
    width: 180px;
}

.more-text .row {
    padding: 40px 0;
    border-bottom: 1px solid #c0c0c0;
}

.more-text .row:last-child {
    border-bottom: none;
}

.more-text img {
    max-width: 300px;
    margin: 0 auto;
    max-height: 225px;
}

.image-container {
    overflow: hidden;
    height: 500px;
}

#image-slider img {
    width: 100%;
}

#image-slider .slider-controls {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}

#map {
    padding-bottom: 20%;
    overflow: visible;
    margin-bottom: 0;
}


#map iframe {
    pointer-events: none;
}

#map iframe.clicked {
    pointer-events: auto;
}

.reservation-form .row,
.reservation-form button {
    margin: 10px 0;
}

.reservation-form label {
    padding: 10px 0;
}

.imprint-container {
    margin-top: 75px;
}

.imprint .menu > li > a {
    padding: 0;
}

a.benefiz-info {
    position: absolute;
    right: 16px;
    bottom: 77px;
    font-size: 50px;
    border: 2px solid #ff993b;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    text-align: center;
    line-height: 48px;
}

a.benefiz-info:hover {
    border-color: #1468a0;
}

.benefiz-table {
    border: 0;
    border-collapse: collapse;
}

.benefiz-table tr td:first-child {
    border-right: 3px solid black;
    font-weight: bold;
}

@media all and (max-width: 900px) {
    #map {
        padding-bottom: 40%;
    }

    .logo {
        top: 8px;
    }
}

@media all and (max-width: 640px) {
    #responsive-menu {
        padding-top: 40px;
    }
}

@media all and (max-width: 600px) {
    .full.headline {
        min-height: 50px;
    }

    .headline-about {
        top: -50px;
    }

    .image-container {
        height: auto;
    }

    .headline-facebook img {
        min-width: 35px;
        min-height: 35px;

        width: 35px;
        height: 35px;
    }

    .event {
        position: relative;
        margin: 0 auto;
        width: 80%;
        height: auto;
        left: auto;
        right: auto;
        top: 15%;
    }
}

@media all and (max-width: 400px) {
    .event p {
        padding: 0;
    }

    .event .facebook {
        position: relative;
        width: auto;
    }

    .event .benefiz-info {
        bottom: 46px;
        right: 28px;
    }

    .event .facebook img {
        width: 90px;
        padding: 20px;
        padding-bottom: 0;
    }
}