<!doctype html>
<html class="no-js" lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet & Eat</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/svg+xml" href="img/logo.svg">

    <script src="js/vendor/vue.js"></script>
    <script src="js/vendor/vue-i18n.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="fixed">
        <div class="top-bar" data-options="marginTop:0;" style="width: 100%">
          <div class="row">
            <div class="top-bar-title hide-for-medium float-right">
              <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
              <button id="burger" class="menu-icon dark" type="button" data-toggle></button>
            </span>
            </div>
            <div>
              <div class="top-bar-left">
                <ul class="menu">
                    <li class="navi-toTop">
                      <a href="#">
                        <img class="logo" src="img/logo.svg" title="Meet & Eat">
                      </a>
                    </li>
                </ul>
              </div>
              <div class="top-bar-right" id="responsive-menu">
                <ul class="menu vertical medium-horizontal ">
                  <li><a href="https://meetandeat-berlin.de/">Zurück zur Startseite</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="stage">
        <div class="event">
          <h1>{{ $t('stage.two_years') }} <img src="img/logo.svg" title="Meet &amp; Eat" class="logo-headline" style="max-width: 90px;"></h1>
          <p>
            {{ latestEvent.title | translateKey }}<br/>
            {{ latestEvent.date | datetime }}
          </p>
          <a class="facebook" :href="getEventUrl(latestEvent)" target="_blank">
            <img src="img/facebook.png">
          </a>
        </div>
      </div>
      <div class="full headline headline-about" id="about">
        <div class="row">
          <h2 class="columns">Benefiz-Kochabend</h2>
        </div>
      </div>

      <div class="about">
        <div class="row">
          <div class="small-12 columns">
            <p>
              Meet & Eat ist das internationale Kochprojekt, das es mittlerweile seit fast 3 Jahren gibt. Wir kochen
              Gerichte aus aller Welt - mit vermeimtlich unverkäuflichen Lebensmitteln.<br/>
              Unsere Kochexpertinnen und Kochexperten stammten bisher zum Beispiel aus Syrien, Chile, der Türkei,
              Vietnam und Polen. Da wir soziale Gerechtigkeit zelebrieren, erfolgt die Teilnahme an den Kochabenden auf
              Spendenbasis; die Köche und die Organisatoren engagieren sich ehrenamtlich.
            </p>
            <b>
              Doch wir wollen mehr! Um weiterhin unsere erstklassigen Kochabende zu veranstalten, neue Materialien zu
              kaufen und ein Kochbuch mit unseren Rezepten zu veröffentlichen, brauchen wir finanzielle
              Unterstützung!<br/>
              <b>Komm vorbei und iss für den guten Zweck!</b>
            </p>
            <p>&nbsp;</p>
            <table class="benefiz-table">
              <tr>
                <td>Wann</td>
                <td>01.02.2019, 18:00 Uhr: Kochbeginn, 20:00 Uhr: Offizielle Begrüßung</td>
              </tr>
              <tr>
                <td>Wo</td>
                <td>Stadtteilzentrum Pankow, Schönholzer Str. 12, 13187 Berlin</td>
              </tr>
              <tr>
                <td>Eintritt</td>
                <td>ab 30€ pro Person*</td>
              </tr>
            </table>
            <small>
              <b>
                *ab einer Spende von 100€ wird der Unterstützer-/Firmenname auf allen Online-Publikationen von Meet & Eat
                genannt,
                alle Spenden sind steuerlich absetzbar
              </b>
            </small>
            <p>&nbsp;</p>

          </div>
        </div>
      </div>

      <div class="full headline headline-reservation" id="reservation">
        <div class="row">
          <h2 class="columns">{{ $t('headline.reservation') }}</h2>
        </div>
      </div>

      <div class="reservation">
        <div class="row">
          <div class="small-12 medium-6 columns reservation-form">
            <form action="https://enformed.io/w4lz7x6g" method="POST">
              <div class="row">
                <div class="medium-6 columns">
                  <label for="event">Event:</label>
                  <select name="event" id="event" v-for="event in registerEvents" required>
                    <option :value="event|shortenEvent">{{ event|shortenEvent }}</option>
                  </select>
                </div>
                <div class="medium-6 columns">
                  <label for="participants">{{ $t('reservation.label.participants') }}</label>
                  <input name="participants" type="number" id="participants" required>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="large-12 columns">
                  <label for="name">{{ $t('reservation.label.name') }}</label>
                  <input name="name" id="name" type="text" placeholder="Name" required>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="large-12 columns">
                  <label for="email">{{ $t('reservation.label.email') }}</label>
                  <input name="email" id="email" type="email" placeholder="Email" required>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="large-12 columns">
                  <input name="privacy" id="privacy" type="checkbox" v-model="checkedReservation">
                  <label for="privacy" v-html="$t('privacy.confirmation')"></label>
                </div>
              </div>
              <hr/>
              <input type="hidden" name="*honeypot" />
              <input type="hidden" name="*redirect" value="http://meetandeat-berlin.de/" />
              <input type="hidden" name="*formname" value="reservation-form" />
              <input type="hidden" name="*subject" value="Reservierungsanfrage" />

              <div class="row">
                <div class="columns large-12 text-right">
                  <button type="submit" class="button" :disabled="checkedReservation == false">
                    {{ $t('reservation.label.submit') }}
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="small-12 medium-6 columns">
            <img src="img/chopsticks.jpg">
          </div>
        </div>
      </div>

      <div class="toTop"><i class="fa fa-caret-up"></i></div>

    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

    <script src="js/translations.js"></script>
    <script src="js/events.js"></script>
    <script src="js/vue_slider.js"></script>
    <script src="js/vue_app.js"></script>

    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>

    <noscript>
      <style type="text/css">
        #app {display:none;}
      </style>
      <div class="noscriptmsg">
        You don't have JavaScript enabled.  Please enable Javascript to use this site.
      </div>
    </noscript>
  </body>
</html>
