<!doctype html>
<html class="no-js" lang="de" dir="ltr" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet & Eat</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/svg+xml" href="img/logo.svg">

    <meta property="og:url"                content="https://meetandeat-berlin.de/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Meet & Eat" />
    <meta property="og:description"        content="Meet & Eat ist das internationale Kochprojekt, das es mittlerweile seit fast 3 Jahren gibt. Wir kochen Gerichte aus aller Welt - mit vermeintlich unverkäuflichen Lebensmitteln." />
    <meta property="og:image"              content="https://meetandeat-berlin.de/img/logo.svg" />

    <script src="js/vendor/vue.js"></script>
    <script src="js/vendor/vue-i18n.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="fixed">
        <div class="top-bar" data-options="marginTop:0;" style="width: 100%">
          <div class="row">
            <div class="top-bar-title hide-for-medium float-right">
              <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
              <button id="burger" class="menu-icon dark" type="button" data-toggle></button>
            </span>
            </div>
            <div>
              <div class="top-bar-left">
                <ul class="menu">
                    <li class="navi-toTop">
                      <a href="#">
                        <img class="logo" src="img/logo.svg" title="Meet & Eat">
                      </a>
                    </li>
                </ul>
              </div>
              <div class="top-bar-right" id="responsive-menu">
                <ul class="menu vertical medium-horizontal ">
                  <li><a href="#about">{{ $t('navi.about') }}</a></li>
                  <li><a href="#gallery">{{ $t('navi.gallery') }}</a></li>
                  <li><a href="#reservation">{{ $t('navi.reservation') }}</a></li>
                  <li><a href="#information">{{ $t('navi.footer') }}</a></li>
                  <li><a href="#" @click="switchLanguage">de | en</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="stage">
        <div class="event">
          <h1>{{ $t('stage.two_years') }} <img src="img/logo.svg" title="Meet &amp; Eat" class="logo-headline" style="max-width: 90px;"></h1>
          <p>
            {{ latestEvent.title | translateKey }}<br/>
            {{ latestEvent.date | datetime }}
          </p>
          <a class="benefiz-info" href="/benefiz.html">
            <i class="fa fa-info"></i>
          </a>
          <a class="facebook" :href="getEventUrl(latestEvent)" target="_blank">
            <img src="img/facebook.png">
          </a>
        </div>
      </div>
      <div class="full headline headline-about" id="about">
        <div class="row">
          <h2 class="columns">{{ $t('headline.about') }}</h2>
        </div>
      </div>

      <div class="about">
        <div class="row">
          <div class="small-12 columns">
            <p>{{ $t('about.paragraph1') }}</p>
            <p>
              {{ $t('about.paragraph2') }}<br/>
              {{ $t('about.paragraph3') }}
            </p>
            <button class="button read-more">{{ $t('about.read_more') }}</button>
            <button class="button read-less hide">{{ $t('about.read_less') }}</button>
          </div>

          <div class="small-12 columns more-text" style="display: none;">
            <h3 class="primary-color">{{ $t('about.who') }}</h3>
            <div class="row">
              <div class="medium-6 columns">
                  <h4>Jana</h4>
                  <p>{{ $t('about.jana') }}</p>
              </div>
              <div class="medium-6 columns text-center">
                <img src="img/jana.png" title="Jana Tichauer"/>
              </div>
            </div>

            <div class="row">
              <div class="medium-6 columns text-center">
                <img src="img/stadtteilzentrum.jpg">
              </div>
              <div class="medium-6 columns">
                <h4>Stadtteilzentrum Pankow</h4>
                <p>{{ $t('about.stadtteilzentrum') }}</p>
              </div>
            </div>

            <div class="row">
              <div class="medium-6 columns">
                <h4>Berliner Tafel e.V.</h4>
                <p>{{ $t('about.tafeln') }}</p>
              </div>
              <div class="medium-6 columns text-center">
                <img src="img/tafeln.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="full gallery" id="gallery">
        <div class="row">
          <div class="small-12 columns">
            <image-slider inline-template>
              <div id="image-slider">
                <div class="image-container">
                  <div v-for="number in [currentNumber]" transition="fade">
                    <img :src="images[Math.abs(currentNumber) % images.length]" class="align-middle"
                        @mouseover="stopRotation"
                        @mouseout="startRotation"
                    />
                  </div>
                </div>
                <div class="slider-controls">
                  <a @click="prev"><i class="fa fa-chevron-circle-left"></i></a> | <a @click="next"><i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </image-slider>
          </div>
        </div>
      </div>

      <div class="full headline headline-reservation" id="reservation">
        <div class="row">
          <h2 class="columns">{{ $t('headline.reservation') }}</h2>
        </div>
      </div>

      <div class="reservation">
        <div class="row">
          <div class="small-12 medium-6 columns reservation-form">
            <form action="https://enformed.io/w4lz7x6g" method="POST">
              <div class="row">
                <div class="medium-6 columns">
                  <label for="event">Event:</label>
                  <select name="event" id="event" v-for="event in registerEvents" required>
                    <option :value="event|shortenEvent">{{ event|shortenEvent }}</option>
                  </select>
                </div>
                <div class="medium-6 columns">
                  <label for="participants">{{ $t('reservation.label.participants') }}</label>
                  <input name="participants" type="number" id="participants" required>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="large-12 columns">
                  <label for="name">{{ $t('reservation.label.name') }}</label>
                  <input name="name" id="name" type="text" placeholder="Name" required>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="large-12 columns">
                  <label for="email">{{ $t('reservation.label.email') }}</label>
                  <input name="email" id="email" type="email" placeholder="Email" required>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="large-12 columns">
                  <input name="privacy" id="privacy" type="checkbox" v-model="checkedReservation">
                  <label for="privacy" v-html="$t('privacy.confirmation')"></label>
                </div>
              </div>
              <hr/>
              <input type="hidden" name="*honeypot" />
              <input type="hidden" name="*redirect" value="http://meetandeat-berlin.de/" />
              <input type="hidden" name="*formname" value="reservation-form" />
              <input type="hidden" name="*subject" value="Reservierungsanfrage" />

              <div class="row">
                <div class="columns large-12 text-right">
                  <button type="submit" class="button" :disabled="checkedReservation == false">
                    {{ $t('reservation.label.submit') }}
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="small-12 medium-6 columns">
            <img src="img/reservation.png">
          </div>
        </div>
      </div>

      <div class="full headline headline-facebook">
        <div class="row">
          <h2 class="small-9 medium-10 columns">
            {{ $t('headline.facebook') }}
          </h2>

          <div class="small-3 medium-2 columns text-right">
            <a href="https://www.facebook.com/Meet-Eat-Berlin-1587727641539571" target="_blank">
              <img src="img/facebook.png">
            </a>
          </div>
        </div>
      </div>

      <div class="flex-video" id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2424.9758579451973!2d13.397341451594382!3d52.570047840172066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a85241e487e861%3A0x1ea846f8cdf7151c!2sStadtteilzentrum+Pankow!5e0!3m2!1sde!2sde!4v1486855142684"
                width="1825"
                height="400"
                frameborder="0"
                style="border:0"
                allowfullscreen
        >
        </iframe>
      </div>

      <footer id="information">
        <div class="full headline headline-footer">
          <div class="row">
            <h2 class="columns">{{ $t('headline.footer') }}</h2>
          </div>
        </div>

        <div class="full footer-links">
          <div class="row">
            <div class="small-12 medium-4 columns">
              <ul class="menu vertical">
                <li><a data-open="contact-form">{{ $t('footer.contact') }}</a></li>
                <li><a href="imprint.html">{{ $t('footer.imprint') }}</a></li>
                <li><a href="privacy.html">{{ $t('privacy.label') }}</a></li>
              </ul>
            </div>
            <div class="small-12 medium-4 columns"></div>
            <div class="small-12 medium-4 columns">
              <div>{{ $t('footer.supported_by') }}</div>
              <a class="stadtteilzentrum" href="http://www.stz-pankow.de/" target="_blank">
                <img width="250" src="img/logo-stadtteilzentrum.png">
              </a>
              <a class="logo-tafeln" href="http://www.berliner-tafel.de/berliner-tafel/" target="_blank">
                <img width="250" src="img/logo-tafeln.png">
              </a>
            </div>
          </div>
        </div>
      </footer>

      <div class="toTop"><i class="fa fa-caret-up"></i></div>

      <div class="contact-form reveal" data-reveal id="contact-form">
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="columns large-12">
            <h1>{{ $t('contact.headline') }}</h1>

            <!-- form here -->
            <form action="https://www.enformed.io/w4lz7x6g" method="POST">

              <div class="form-group">
                <label for="contact-name">{{ $t('contact.name') }}</label>
                <input name="name" id="contact-name" type="text" class="form-control"/>
              </div>

              <div class="form-group">
                <label for="contact-email">{{ $t('contact.email') }}</label>
                <input name="email" id="contact-email" type="email" class="form-control" required/>
              </div>

              <div class="form-group">
                <label for="contact-message">{{ $t('contact.message') }}</label>
                <textarea rows="8" name="message" id="contact-message" class="form-control" required></textarea>
              </div>

              <div class="form-group">
                  <input name="privacy" id="privacyContact" type="checkbox" v-model="checkedContact">
                  <label for="privacyContact" v-html="$t('privacy.confirmation')"></label>
              </div>
              <hr/>
              <div class="form-group text-right">
                <button type="submit" class="button" :disabled="checkedContact == false">
                  {{ $t('contact.submit') }}
                </button>
              </div>

              <input type="hidden" name="*formname" value="contact-form" />
              <input type="hidden" name="*honeypot" />
              <input type="hidden" name="*subject" value="Kontaktanfrage" />
            </form>
            <h4>{{ $t('contact.alternative_sentence') }}</h4>
            <img src="img/contact.png"/>

          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

    <script src="js/translations.js"></script>
    <script src="js/events.js"></script>
    <script src="js/vue_slider.js"></script>
    <script src="js/vue_app.js"></script>

    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>

    <noscript>
      <style type="text/css">
        #app {display:none;}
      </style>
      <div class="noscriptmsg">
        You don't have JavaScript enabled.  Please enable Javascript to use this site.
      </div>
    </noscript>
  </body>
</html>
